


<div class="small-4 medium-4 large-4 column slightlyBigger">
		<img src="../ProfessorPortal/Content/Images/fish thing.png" class="flip">
</div>              

<div class="small-4 medium-4 large-4 column slightlyBigger">
		<img src="../ProfessorPortal/Content/Images/mcdowwel with fish.png" class="mirror" style="width:640px; height:450px;">
</div>
	
	<div class="small-4 medium-4 large-4 column slightlyBigger">
		<img src="../ProfessorPortal/Content/Images/fish thing.png" class="flip">
	</div>
	
<audio controls autoplay loop hidden>
  <source src="ProfessorPortal/Content/Music/Spanish Flea.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>


	<div id="clock" class="clock column small-6 medium-6">9:10:05</div>
    
    <meta http-equiv="refresh" content="20">