<div class="container">
    <div class="profile-header">
        <img align="left" class="profile-cover-photo" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
        <img align="left" class="profile-profile-pic" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
        <div class="profile-description">
            <h1> {{Name}} </h1>
            <p> {{Description}}
        </div>
    </div>
</div>
<h3>Popular Classes</h3>
<div class="col-sm-3">
    <div class="flip-container" id="cmps-401" onclick="flip(id);">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="tile-progress tile-red">
                    <div class="tile-header">
                        <h3>{{Class Name}}</h3>
                        <span>{{Class Description}}</span>
                    </div>
                    <div class="tile-footer">
                        <h4>{{Currently Enrolled}}</h4>
                        <span>Put link to class here!</span>
                    </div>
                </div>
                <!-- end of front content-->
            </div>
            <div class="back">
                <!-- back content -->
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <div align="right">{{Class Name}}</div>
                        <ul>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>                    
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                        </ul>
                    </div>
                    <div class="tile-footer">
                        <!-- Back Footer-->
                        <input type="file"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="flip-container" id="cmps-375" onclick="flip(id);">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="tile-progress tile-red">
                    <div class="tile-header">
                        <h3>{{Class Name}}</h3>
                        <span>{{Class Description}}</span>
                    </div>
                    <div class="tile-footer">
                        <h4>{{Currently Enrolled}}</h4>
                        <span>Put link to class here!</span>
                    </div>
                </div>
                <!-- end of front content-->
            </div>
            <div class="back">
                <!-- back content -->
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <div align="right">{{Class Name}}</div>
                        <ul>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>                    
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                        </ul>
                    </div>
                    <div class="tile-footer">
                        <!-- Back Footer-->
                        <input type="file"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="flip-container" id="cmps-161" onclick="flip(id);">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="tile-progress tile-red">
                    <div class="tile-header">
                        <h3>{{Class Name}}</h3>
                        <span>{{Class Description}}</span>
                    </div>
                    <div class="tile-footer">
                        <h4>{{Currently Enrolled}}</h4>
                        <span>Put link to class here!</span>
                    </div>
                </div>
                <!-- end of front content-->
            </div>
            <div class="back">
                <!-- back content -->
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <div align="right">{{Class Name}}</div>
                        <ul>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>                    
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                        </ul>
                    </div>
                    <div class="tile-footer">
                        <!-- Back Footer-->
                        <input type="file"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="flip-container" id="cmps-400" onclick="flip(id);">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="tile-progress tile-red">
                    <div class="tile-header">
                        <h3>{{Class Name}}</h3>
                        <span>{{Class Description}}</span>
                    </div>
                    <div class="tile-footer">
                        <h4>{{Currently Enrolled}}</h4>
                        <span>Put link to class here!</span>
                    </div>
                </div>
                <!-- end of front content-->
            </div>
            <div class="back">
                <!-- back content -->
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <div align="right">{{Class Name}}</div>
                        <ul>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>                    
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                        </ul>
                    </div>
                    <div class="tile-footer">
                        <!-- Back Footer-->
                        <input type="file"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="flip-container" id="cmps-280" onclick="flip(id);">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="tile-progress tile-red">
                    <div class="tile-header">
                        <h3>{{Class Name}}</h3>
                        <span>{{Class Description}}</span>
                    </div>
                    <div class="tile-footer">
                        <h4>{{Currently Enrolled}}</h4>
                        <span>Put link to class here!</span>
                    </div>
                </div>
                <!-- end of front content-->
            </div>
            <div class="back">
                <!-- back content -->
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <div align="right">{{Class Name}}</div>
                        <ul>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>                    
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                        </ul>
                    </div>
                    <div class="tile-footer">
                        <!-- Back Footer-->
                        <input type="file"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="flip-container" id="cmps-285" onclick="flip(id);">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="tile-progress tile-red">
                    <div class="tile-header">
                        <h3>{{Class Name}}</h3>
                        <span>{{Class Description}}</span>
                    </div>
                    <div class="tile-footer">
                        <h4>{{Currently Enrolled}}</h4>
                        <span>Put link to class here!</span>
                    </div>
                </div>
                <!-- end of front content-->
            </div>
            <div class="back">
                <!-- back content -->
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <div align="right">{{Class Name}}</div>
                        <ul>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>                    
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                        </ul>
                    </div>
                    <div class="tile-footer">
                        <!-- Back Footer-->
                        <input type="file"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="flip-container" id="cmps-257" onclick="flip(id);">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="tile-progress tile-red">
                    <div class="tile-header">
                        <h3>{{Class Name}}</h3>
                        <span>{{Class Description}}</span>
                    </div>
                    <div class="tile-footer">
                        <h4>{{Currently Enrolled}}</h4>
                        <span>Put link to class here!</span>
                    </div>
                </div>
                <!-- end of front content-->
            </div>
            <div class="back">
                <!-- back content -->
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <div align="right">{{Class Name}}</div>
                        <ul>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>                    
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                        </ul>
                    </div>
                    <div class="tile-footer">
                        <!-- Back Footer-->
                        <input type="file"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="flip-container" id="cmps-411" onclick="flip(id);">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="tile-progress tile-red">
                    <div class="tile-header">
                        <h3>{{Class Name}}</h3>
                        <span>{{Class Description}}</span>
                    </div>
                    <div class="tile-footer">
                        <h4>{{Currently Enrolled}}</h4>
                        <span>Put link to class here!</span>
                    </div>
                </div>
                <!-- end of front content-->
            </div>
            <div class="back">
                <!-- back content -->
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <div align="right">{{Class Name}}</div>
                        <ul>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>                    
                            <li>
                                {{File goes here}}
                            </li>
                            <li>
                                {{File goes here}}
                            </li>
                        </ul>
                    </div>
                    <div class="tile-footer">
                        <!-- Back Footer-->
                        <input type="file"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function flip(id) {
        document.querySelector("#" + id).classList.toggle("flip");
    }
</script>